<h1>Rock, Paper, Scissors!</h1>

  <img src="/images/SRPS.jpg" alt="Intro Pic" style="width:304px;height:228px">

  <h2>Would you like to play a game?</h2>
  <a class='myButton' href="/new_game">Start game!</a>