<h1>The results are in...</h1>
<section class="choice">

  <section class="player_choice">
  You chose <%= @players_choice %>
  </section>

  <section class="computer_choice">
  The computer selected <%= @computers_choice %>
  </section><br>

  <h4><% if @result == "Player wins" %>
      <p> <%= @name %> wins! </p>
      <img src="/images/win.jpg" alt="Draw Pic" style="width:228px;height:304px">

    <% elsif @result == "Computer wins" %>
      <p>Computer wins! Computer is laughing at you... </p>
      <img src="/images/crying.jpg" alt="Draw Pic" style="width:304px;height:228px">

    <% else @result == "Draw" %>
    <p> The game was a Draw! How awkward. </p>
      <img src="/images/rps.jpg" alt="Draw Pic" style="width:304px;height:228px">
      
    <% end %>
  </h4>

  </section>
  
  <a class="myButton" href="/game">Play again?</a>
